---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Portfolio">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">

			<h1 class="text-white text-5xl font-bold flex justify-center flex-row">Bienvenidos! Soy Javier Torres <div><Badge>Disponible para trabajar</Badge></div> </h1>
			<h2>
				1 año de experiencia. Desarrollador Full Stack de Misiones, Argentina. Especializado en Resolución de Problemas ;)
			</h2>
			<ul></ul>
		</section>
	</main>
</Layout>

